body {
  font-family: sans-serif;
}
button {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 200px;
  width: 200px;
}

img:hover {
  cursor: grab;
  background-color: blanchedalmond;
}

button:hover {
  background-color: chocolate;
}

#upgradeCost {
  color: red;
  font-weight: bold;
}

#resetBtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

#errorMessage {
  color: rgb(41, 104, 240);
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  font-family: "Courier New", Courier, monospace;
  flex-direction: column;
  gap: 0.75rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

form button {
  max-width: fit-content;
  margin: 0px;
}

input {
  max-width: 500px;
}

footer {
  position: absolute;
  bottom: 0;
}
