body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 200px;
  width: 200px;
}

img:hover,
button:hover {
  cursor: grab;
  background-color: blanchedalmond;
}

#upgradeCost {
  color: red;
  font-weight: bold;
}

#resetBtn:hover {
  background-color: black;
  color: white;
  font-weight: bold;
}

#errorMessage {
  color: rgb(41, 104, 240);
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
