button {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 200px;
  width: 200px;
}

img,
button:hover {
  cursor: grab;
}

#upgradeCost {
  color: red;
  font-weight: bold;
}
